/* fonts */

/* container styles */
.container{
    maxWidth:100%;
    padding: 5% 10% ;
    display:flex;
    /* flex-wrap: wrap; */
}

.small{
    padding:0;
    /* flex-wrap:nowrap; */
}

.row-flex{
    flex-direction: row;
    justify-content: space-between;
}

.column-flex{
    flex-direction: column;
    justify-content: space-around;
}

.banner{
    background-color: #FFCD9E;

}

.social{
    background-color: black;
    color:white
}

.social-icons{
    color:#FFCD9E;
    font-size: 1.5em;
    margin-left: 10px;
}

.captz{
    text-transform:capitalize;
}

.small-text{
    margin-bottom:0.5em;
    font-size:0.8em
}